<div class="container-fluid hiw-banner-wrapper">
  <div class="overlay">
    <p class="lead">
      Crowdfunding is the practice of funding a project or cause by raising money from a large number of people, typically through
      the Internet. It is a form of peer-to-peer fundraising that harnesses the power of social networks to raise awareness
      and draw donations from around the world for online campaigns.
    </p>
  </div>
  <img class="img-responsive hit-banner-img" src="assets/crowdfunding-wp.jpg" />
  <img class="img-responsive hit-banner-img-sm" src="assets/crowdfunding-wp-sm.png" />
</div>

<br/>
<br/>
<div class="container how-to">
  <div class="col-xs-12 col-md-12 text-center">
    <h1 class="special-heading">
      How to Crowdfund
    </h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <img class="img-responsive hiw-imgs" src="assets/icons/hiw-create.png" />
      <h3 class="special-heading">
          CREATE
        </h3>
      <p class="lead ">Ibtida’s easy-to-use fundraiser template allows you to create an effective home page for your crowdfunding campaign.
        Show potential donors how they can help by telling a compelling story, uploading several pictures and videos, and
        posting updates.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <img class="img-responsive hiw-imgs" src="assets/icons/hiw-share.png" />
      <h3 class="special-heading">
         SHARE
        </h3>
      <p class="lead ">
        Activate your social network. With just a few clicks, spread the word of your fundraiser to friends, family and other potential
        donors through Facebook, Linkedin, email and other channels.
      </p>
    </div>
    <div class="col-xs-12 col-md-4">
      <img class="img-responsive hiw-imgs" src="assets/icons/hiw-collect.png" />
      <h3 class="special-heading">
         COLLECT
        </h3>
      <p class="lead ">
        Donations to your fundraiser can be transferred into your account as they’re received. Ibtida provides free fundraising,
        which means we don’t charge a thing. The donation processor does, however, take 5%, plus a nominal amount per transaction.
      </p>
    </div>
  </div>
</div>