<div class="container-fluid stories-banner-wrapper">
  <img class="img-responsive stories-img" src="assets/stories/stories-banner.jpg" />
</div>

<div class="container text-center" style="margin-bottom:80px">
  <h3 class="special-heading featured-h">See how fundraisers on Ibtida have restored hope, rebuilt lives and helped support people in need through online crowdfunding.</h3>
</div>


<div class="container storie-wrapper">


  <div class="col-xs-12 col-md-4">
    <img class="img-responsive" src="assets/stories/iti.jpg" style="width:100%;margin:auto" />
  </div>
  <div class="col-xs-12 col-md-8">
    <h3>
      <strong>ITI for underprivileged children</strong>
    </h3>
    <p style="color:gray">Education fundraiser</p>
    <p class="lead">"We were confident this was the right platform to go with. What drew us to Ibtida was that it was a good flexible site
      where we could get up quickly and reach out to a broad audience. There were no costs associated. We got online and
      the response has been tremendous. The outpouring from friends, family and people we had never and probably will never
      meet was very uplifting."
      <br/> — Mr.Zaki</p>
  </div>

  <div class="col-xs-12 col-md-4">
    <img class="img-responsive" src="assets/stories/elderly.jpg" style="width:100%;margin:auto" />
  </div>
  <div class="col-xs-12 col-md-8">
    <h3>
      <strong>Shelter for homeless Elderly people</strong>
    </h3>
    <p style="color:gray">Elderly fundraiser</p>
    <p class="lead">"We’re so grateful for Ibtida. It’s a platform that’s free and makes it easy to share our story. It’s difficult to
      share your hardship, but Ibtida makes it easier to talk about it and explain your needs. I encourage everyone who
      is going through some kind of challenge or hardship in their life to consider using Ibtida.” — Zeeshan</p>
  </div>




</div>