<div class="teaser-wrapper">
    <div class="image-wrapper">
      <img class="teaser-img" [src]="teaserData.imagePath[0]" />
    </div>
    <div class="col-xs-12 amt-raised-wrapper text-center">
      <h3>Rs.{{teaserData.amountRaised}}</h3>
    </div>
    <div class="col-xs-12 prog-wrapper">
      <div class=" progress">
        <div class="progress-bar progress-bar-striped" [ngStyle]="{width: progBarPerc+'%' }"></div>
      </div>
    </div>
    <div class="col-xs-12 title-wrapper">
      <h6>{{teaserData.title.substr(0,70)}}</h6>
    </div>
    <div class="col-xs-12 text-center bottom-wrapper">
      <h5>By: {{teaserData.startedBy}}</h5>
    </div>
  </div>