<div class="wrapperform">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <h3 class="text-accent">Sign up</h3>
    <form ngNativeValidate (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="form-group">
        <label class="text-accent">Name:</label>
        <input class="form-control" type="text" name="name" placeholder="enter your name" ngModel required>
      </div>
      <div class="form-group">
        <label class="text-accent">Email</label>
        <h6 *ngIf="!success" style="color:red">* User by this email already exists.</h6>
        <input class="form-control" type="email" name="email" placeholder="enter your email" ngModel required>
      </div>
      <div class="form-group">
        <label class="text-accent">Password</label>
        <p>{{ passwordStatus }}</p>
        <input [(ngModel)]="passwordTyped" class="form-control" type="password" name="password" placeholder="enter your password"
          ngModel required>
      </div>
      <button class="btn button-accent" type="submit">Sign up</button>
    </form>
  </div>
</div>