<footer>
    <div class="container-fluid subscr-wrapper">
        <h1 class="text-dark  text-center">
            <strong>Subscribe for latest updates.</strong>
        </h1>
        <br/>
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <form>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="your email" />
                    <span class="input-group-btn">
                        <button type="button" class=" btn dark-bg  text-white">Subscribe</button>
                    </span>
                </div>
            </form>
        </div>
    </div>




    <div class="container-fluid footer-wrapper dark-bg">

        <div class="row">
            <div class="col-md-12" style="border-bottom:1px solid rgb(83, 83, 83)">
                <div class="col-xs-12 col-md-6">
                    <div class="social-icon-wrapper text-center">
                        <a class="link-non-ul" href="http://www.facebook.com" target="_blank">
                            <div class="fb cursor">
                                <h3 class="icon">
                                    <strong>fb</strong>
                                </h3>
                            </div>
                        </a>
                        <a class="link-non-ul" href="http://www.linkedin.com" target="_blank">
                            <div class="li cursor">
                                <h3 class="icon">
                                    <strong>in</strong>
                                </h3>
                            </div>
                        </a>
                        <a class="link-non-ul" href="http://www.google.com" target="_blank">
                            <div class="g cursor">
                                <h3 class="icon">
                                    <strong>g</strong>
                                </h3>
                            </div>
                        </a>

                        <a class="btn button-accent link-non-ul" href="" target="_blank">
                           Visit our Blog
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 text-center">
                    <a class="link-non-ul" routerLink="/">
                        <h2 class="text-accent" style="padding-top:10px">Ibtida.com</h2>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <h4 class="text-white">Learn more</h4>
                <a class="text-accent link-non-ul" routerLink="/how-it-works">
                    <p>
                        <strong>How it works</strong>
                    </p>
                </a>
                <a class="text-accent link-non-ul" routerLink="/stories">
                    <p>
                        <strong>Success stories</strong>
                    </p>
                </a>
                <a class="text-accent link-non-ul" routerLink="">
                    <p>
                        <strong>Fundraiser tips & ideas</strong>
                    </p>
                </a>

            </div>
            <div class="col-xs-12 col-md-4">
                <h4 class="text-white">Customer service</h4>
                <a class="text-accent link-non-ul" routerLink="">
                    <p>
                        <strong>Help & FAQs</strong>
                    </p>
                </a>
                <a class="text-accent link-non-ul" routerLink="">
                    <p>
                        <strong>Terms of service</strong>
                    </p>
                </a>
                <a class="text-accent link-non-ul" routerLink="">
                    <p>
                        <strong>Privacy policy</strong>
                    </p>
                </a>
                <a class="text-accent link-non-ul" routerLink="">
                    <p>
                        <strong>Site map</strong>
                    </p>
                </a>
            </div>
            <div class="col-xs-12 col-md-4">
                <h4 class="text-white">Contact us</h4>
                <a class="text-accent link-non-ul" routerLink="">
                    <p>
                        <strong>About us</strong>
                    </p>
                </a>
                <p class="h5">

                </p>
                <p class="text-accent"><i class="glyphicon glyphicon-map-marker "></i>
                4/1175-k, main road Hauz Khas, Delhi
                </p>                
                <p class="text-accent"><i class="fa fa-whatsapp "></i>&nbsp;+91-9055588888</p>
                <p class="text-accent"><i class="fa fa-envelope "></i>&nbsp;feedback@ibtida.com</p>
            </div>
        </div>

    </div>
    <div style="height:35px;background:#222014 ;padding:30px">
        <h5 class="pull-left text-accent" style="margin:0px">&copy;2017 All rights reserved</h5>
        <h5 class="pull-right text-accent" style="margin:0px">Terms &nbsp; Privacy &nbsp; Security</h5>
    </div>
</footer>