<div class="container-fluid hiring-wrapper">
  <img class="img-responsive hiring-img" src="assets/careers/career-banner.jpg" />
</div>
<br/>
<br/>
<div class="container">
  <h2 class="text-accent text-center">Work with us</h2>
</div>
<br/>
<br/>
<br/>

<div class="container">
  <h1 class="text-dark">Current openings</h1>
  <h4 class="position" style="background:rgb(231, 231, 231)">Campaign manager</h4>
  <h4 style="padding-left:30px">
    <strong>Roles</strong>
  </h4>
  <ul class="roles-ul">
    <li>Review and approve crowdfunding campaign requests on the platform</li>
    <li>Perform background verification of the cause and the campaigner to ensure credibility</li>
    <li>Identify and develop an end to end fundraising strategy for the campaigners</li>
    <li>Engage and maintain regular communications with campaigners and motivate them to raise funds</li>
    <li>Manage and oversee disbursal of funds for the campaigns</li>
    <li>Devise ideas and tools to improve the overall efficiency of the team</li>
  </ul>
  <br/>
  <br/>
  <h4 class="position" style="background:rgb(231, 231, 231)">Senior web developer</h4>
  <h4 style="padding-left:30px">
    <strong>Responsibilities</strong>
  </h4>
  <ul class="roles-ul">
    <li>Part of the core team responsible for powering the various apps and moving parts of the product</li>
    <li>Design, build and own key technology decisions and implementations</li>
    <li>Wear multiple hats - that of an architect, developer or product owner</li>
    <li>Collaborate with other team members to find optimal solutions and engineering workarounds based on resource/time constraints</li>
    <li>Manage interactions with designers, testers and other developers</li>
  </ul>
  <br/>
  <h4 style="padding-left:30px">
    <strong>Required skills</strong>
  </h4>
  <ul class="roles-ul">
    <li>4 - 6 years of overall software development experience</li>
    <li>2+ years of development experience with Ruby on Rails</li>
    <li>Experience with support of high-availability, high-performance, customer-facing web applications</li>
    <li>Expert in configuring and deploying multiple rails applications quickly</li>
    <li>Experience with collaborative code development in small agile teams and managing releases (Git, Continuous Integration,
      Capistrano)</li>
    <li>Experience building internal and external APIs and RESTful web services</li>
    <li>Strong foundation in Database ( SQL / Postgres )</li>
    <li>Experience deploying and managing applications on cloud-based infrastructure (Heroku/AWS)</li>
    <li>Outstanding understanding of software design and architecture</li>
  </ul>
</div>

<canvas id="mycanvas" width="100" height="100" style="background:red"></canvas>
